---
layout: home
---
<header class="page-header">
  <h2 class="headshot text-overflow">Ian Hirschfeld</h2>
  <h1 class="page-title font-rift-600"><span class="name">Ian Hirschfeld</span><span class="font-rift-400">Virtual Reality<br />Consultant & Developer</span></h1>
  <a class="hire-button font-rift-700" href="mailto:{{ site.email }}?subject=Hey%20Ian!">Email Me</a>
</header>

<article class="page-body">
  <section class="page-section">
    <h3 class="section-title font-rift-400">About Me</h3>
    <p>My favorite book is <em>The Neverending Story</em> and my favorite movie, <em>The Matrix</em>. I'm currently in love with the VR experience <em>Lone Echo</em> for the Oculus Rift. I have a background in Computer Science and Digital Art, and for the past eight years I've been working in interactive media. My experience includes: web application development, mobile application development, 3D animation, and custom hardware prototyping. Over the last couple of years, I've moved into virtual and augmented reality. From 360 film production, to fully CG roomscale experiences, I've had the pleasure to work on several exciting projects in this up and coming industry.</p>
  </section>

  <section class="page-section">
    <h3 class="section-title font-rift-400">Office Hours</h3>
    <p>I run office hours every week. If you are interested in learning more about VR, AR, or any of the other Rs, we should chat! I'm always down to meet new people looking to explore this industry and the new medium arriving with it. We can go over any questions you have about the industry, or we can talk about a project you are thinking about, or even one you currently working on. Whatever is on your mind, I'm available. <strong><a href="https://calendly.com/ianhirschfeld" target="_blank">Sign up here</a></strong>, to schedule a 30 minute video call with me.</p>
  </section>

  <section class="page-section">
    <h3 class="section-title font-rift-400">Brands I've Worked With</h3>
    <div class="brands text-overflow">Google, Seeker, ANA, Capital One, Unity, George P. Johnson, Hyundai, World Innovation Lab, Charles Schwab</div>
  </section>

  <section class="page-section">
    <h3 class="section-title font-rift-400">Projects I've Worked On</h3>
    <ul class="projects-list list-reset">
      {% for project in site.data.projects.projects %}
        <li class="projects-list-item {{ project.class_name }}">
          <a class="projects-list-link" href="{{ project.url }}" target="_blank">
            <div class="projects-list-thumb" style="background-image: url('/images/projects/{{ project.thumb_image }}')"></div>
            <div class="projects-list-title font-rift-400">{{ project.thumb_title }}</div>
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="section-button">
      <a class="hire-button font-rift-700" href="mailto:{{ site.email }}?subject=Hey%20Ian!">Let's Work Together</a>
    </div>
  </section>

  <section class="page-section">
    <ul class="section-list list-reset">
      <li class="section-list-item">
        <h3 class="section-title font-rift-400">Other Projects</h3>
        <ul class="other-projects-list list-reset">
          {% for project in site.data.projects.others %}
            <li class="other-projects-list-item {{ project.class_name }}">
              <a class="projects-list-link" href="{{ project.url }}" target="_blank">
                <div class="projects-list-thumb" style="background-image: url('/images/projects/{{ project.thumb_image }}')"></div>
                <div class="projects-list-title font-rift-400">{{ project.thumb_title }}</div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li class="section-list-item">
        <h3 class="section-title font-rift-400">Recent Writing</h3>
        <ul class="writing-list list-reset">
          {% for post in site.data.writing %}
            <li class="writing-list-item">
              <a class="writing-list-title font-rift-600" href="{{ post.url }}" target="_blank">{{ post.title }}</a>
              <p class="writing-list-excerpt">{{ post.excerpt }}</p>
              <a class="writing-list-readmore font-rift-400" href="{{ post.url }}" target="_blank">Read more...</a>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li class="section-list-item">
        <h3 class="section-title font-rift-400">Get In Touch</h3>
        <ul class="contact-list list-reset">
          <li class="contact-list-item font-rift-">
            <a href="mailto:{{ site.email }}?subject=Hey%20Ian!">
              <span class="contact-list-icon icon-mail"></span><span class="contact-list-text">{{ site.email }}</span>
            </a>
          </li>
          <li class="contact-list-item font-rift-">
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
              <span class="contact-list-icon icon-twitter"></span><span class="contact-list-text">@{{ site.twitter_username }}</span>
            </a>
          </li>
          <li class="contact-list-item font-rift-">
            <a href="https://medium.com/@{{ site.medium_username }}" target="_blank">
              <span class="contact-list-icon icon-medium"></span><span class="contact-list-text">@{{ site.medium_username }}</span>
            </a>
          </li>
          <li class="contact-list-item font-rift-">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
              <span class="contact-list-icon icon-linkedin"></span><span class="contact-list-text">{{ site.linkedin_username }}</span>
            </a>
          </li>
          <li class="contact-list-item font-rift-">
            <a href="https://github.com/{{ site.github_username }}" target="_blank">
              <span class="contact-list-icon icon-github"></span><span class="contact-list-text">{{ site.github_username }}</span>
            </a>
          </li>
          <li class="contact-list-item font-rift-">
            <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">
              <span class="contact-list-icon icon-instagram"></span><span class="contact-list-text">{{ site.instagram_username }}</span>
            </a>
          </li>
          <li class="contact-list-item font-rift-">
            <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
              <span class="contact-list-icon icon-facebook"></span><span class="contact-list-text">{{ site.facebook_username }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="page-section">
    <div class="section-button">
      <a class="hire-button font-rift-700" href="mailto:{{ site.email }}?subject=Hey%20Ian!">Contact Me</a>
    </div>
  </section>
</article>
