@charset "utf-8";
@import "compass";
@import "normalize";
@import "fontello_custom";

/* ===== VARIABLES ===== */
$themePrimaryColor: #3e4759; // Dark blue-gray
$themeSecondaryColor: #7a93cc; // Light blue-gray
$textColor: #45474c; // Dark Gray
$textLightColor: #878787; // Gray
$background: #eef1f6; // Off-white with blue

#themePrimaryColor  {
  display: none;
  color: $themePrimaryColor;
}

#themeSecondaryColor {
  display: none;
  color: $themeSecondaryColor;
}

/* ===== MIXINS ===== */
@mixin ospdin {
  font-family: 'osp-dindin', Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
}

@mixin respond-to($size) {
  @if $size == 'desktop' {
    @media only screen and (max-width: 1200px) {
      @content
    }
  }
  @else if $size == 'tablet' {
    @media only screen and (max-width: 1024px) {
      @content
    }
  }
  @else if $size == 'tablet-small' {
    @media only screen and (max-width: 768px) {
      @content
    }
  }
  @else if $size == 'phone' {
    @media only screen and (max-width: 568px) {
      @content
    }
  }
  @else if $size == 'phone-small' {
    @media only screen and (max-width: 320px) {
      @content
    }
  }
}

@mixin respond-to-custom($width) {
  @media only screen and (max-width: $width) {
    @content
  }
}

/* ===== FONTS ===== */
@font-face {
    font-family: 'osp-dindin';
    src: url('fonts/osp-din-webfont.eot');
    src: url('fonts/osp-din-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/osp-din-webfont.woff') format('woff'),
         url('fonts/osp-din-webfont.ttf') format('truetype'),
         url('fonts/osp-din-webfont.svg#osp-dindin') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ===== OVERRIDES ===== */
html {
  color: $textColor;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

body{
  background: $background;
}

a {
  position: relative;
  color: $themeSecondaryColor;
  text-decoration: none;

  &.underline {
    &:hover,
    &:focus {
      &:after {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -5px;
        border-bottom: 1px solid $themeSecondaryColor;
        content: '';
      }
    }
  }
}

h1,
h2,
h3 {
  @include ospdin;
  margin: 0;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  color: $themePrimaryColor;
  font-size: 5rem;
}

h2 {
  margin-bottom: 30px;
  color: $textLightColor;
  font-size: 2rem;
}

h3 {
  color: $textLightColor;
  font-size: 1.6rem;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

/* ===== HELPERS ===== */
.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clear {
  clear: both;
}

.btn-contact {
  @include ospdin;
  @include border-radius(6px);
  @include transition(background-color 0.15s);
  height: 55px;
  margin-top: 8px;
  padding: 0 25px;
  display: inline-block;
  float: right;
  background: $themeSecondaryColor;
  color: #fff;
  font-size: 2rem;
  line-height: 57px;
  vertical-align: middle;

  &:hover,
  &:focus {
    background: $themePrimaryColor;
    color: #fff;
    text-decoration: none;

    &:after {
      display: none;
    }
  }
}

/* ===== LAYOUT ===== */
#topbar {
  height: 3px;
  background: $themePrimaryColor;
}

#page-container {
  @include box-sizing(border-box);
  margin: 0 auto;
  padding: 30px;
}

#page-content {}

.page-section {
  margin-top: 60px;
}

/* ===== HEADER ===== */
#page-header {
  margin-bottom: 30px;
}

#photo {
  display: inline-block;
}

/* ----- Social Icons ----- */
#social-list {
  margin: -5px 0 0 20px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;

  li {
    width: 45px;
    height: 50px;
    margin-right: 10px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    width: 45px;
    height: 50px;
    display: inline-block;
    color: #fff;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .title {
    display: none;
  }
}

.social-icon-hex {
  position: relative;

  svg,
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .icon {
    width: 45px;
    z-index: 2;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
  }

  .icon-github-circled {
    font-size: 28px;
  }

  .icon-twitter {
    line-height: 52px;
  }
}

/* ----- Nav ----- */
#page-nav {
  @include ospdin;
  font-size: 1.5rem;

  a {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* ===== BODY ===== */
#hexes {
  li {
    width: 28%;
    max-width: 400px;
    display: inline-block;

    a {
      cursor: default;
    }
  }

  svg {
    text {
      font-size: 2.5rem;
    }
  }
}

#about {
  display: inline-block;
}

#about-intro-container {
  display: table;
}

#about-intro {
  display: table-cell;
  vertical-align: middle;

  p {
    margin: 0;
    padding: 0 20px;
    display: none;
    color: #fff;
    font-size: 1.2rem;
  }

  a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer !important;
  }
}

/* ===== RESPONSIVE ===== */
@include respond-to(desktop) {
  #about-intro {
    p {
      font-size: 1rem;
    }
  }

  #hexes {
    svg {
      text {
        font-size: 2rem;
      }
    }
  }
}

@include respond-to(tablet) {
  h1 {
    font-size: 4.4rem;
  }

  .btn-contact {
    margin-top: 4px;
  }

  #hexes {
    svg {
      text {
        font-size: 1.5rem;
      }
    }
  }
}

@include respond-to-custom(900px) {
  #about-intro {
    p {
      font-size: 0.8rem;
    }
  }
}

@include respond-to(tablet-small) {
  h1 {
    margin-bottom: 20px;
    display: block;
  }

  .btn-contact {
    height: 50px;
    float: none;
    margin-top: 0;
    margin-left: 6px;
    font-size: 1.5rem;
    line-height: 52px;
  }

  #social-list {
    margin: 0;
  }

  #hexes {
    li {
      width: 40%;
    }
  }

  #about-intro {
    p {
      font-size: 0.9rem;
    }
  }
}

@include respond-to-custom(660px) {
  #about-intro {
    p {
      font-size: 0.7rem;
    }
  }
}

@include respond-to(phone) {
  h1 {
    font-size: 3.5rem;
  }

  #page-container {
    padding: 20px 10px;
  }

  #hexes {
    li {
      width: 60%;
    }
  }

  #about-intro {
    p {
      font-size: 0.9rem;
    }
  }
}

@include respond-to-custom(410px) {
  #about-intro {
    p {
      font-size: 0.7rem;
    }
  }
}

@include respond-to(phone-small) {
  #hexes {
    li {
      width: 65%;
    }
  }

  @-moz-document url-prefix() {
    h1 {
      font-size: 3rem;
    }

    .btn-contact {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
