@font-face {
  font-family: 'fontello_custom';
  src: url('fonts/fontello_custom.eot?65489733');
  src: url('fonts/fontello_custom.eot?65489733#iefix') format('embedded-opentype'),
       url('fonts/fontello_custom.woff?65489733') format('woff'),
       url('fonts/fontello_custom.ttf?65489733') format('truetype'),
       url('fonts/fontello_custom.svg?65489733#fontello_custom') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello_custom';
    src: url('../font/fontello_custom.svg?65489733#fontello_custom') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello_custom";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}

.icon-mail:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
