!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %meta{name: 'description', content: 'Portfolio of Ian Hirschfeld.'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}

    %meta{property: 'og:url', content: 'http://www.ianhirschfeld.com'}
    %meta{property: 'og:type', content: 'website'}
    %meta{property: 'og:title', content: 'Ian Hirschfeld'}
    %meta{property: 'og:description', content: 'Portfolio of Ian Hirschfeld'}
    %meta{property: 'og:image', content: 'http://www.ianhirschfeld.com/images/ianhirschfeld.jpg'}

    %link{rel: 'apple-touch-icon', href: 'http://www.ianhirschfeld.com/apple-touch-icon.png'}
    %link{rel: 'shortcut icon', href: 'http://www.ianhirschfeld.com/favicon.png', type: 'image/x-icon'}
    %link{rel: 'icon', href: 'http://www.ianhirschfeld.com/favicon.png', type: 'image/x-icon'}

    %title Ian N. Hirschfeld

    = stylesheet_link_tag 'all'

  %body{class: page_classes}
    #page-container
      = yield

    %script{src: '//use.typekit.net/dhn8nfe.js', type: 'text/javascript'}
    :javascript
      // Typekit
      try{Typekit.load();}catch(e){}

      // Google Analyitcs
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11359166-4']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
