:root {
  --color-black: #000;
  --color-dark-grey: #202020;
  --color-grey: #707070;
  --color-dark-off-white: #efe9d5;
  --color-off-white: #efece2;
  --color-white: #fff;

  --color-red: #d90011;
  --color-blue: #7ac7ff;
  --color-tan: #e6c29c;

  --font-freight: 'freight-sans-pro', Helvetica, Arial, sans-serif;
  --font-rift: 'rift-soft', Helvetica, Arial, sans-serif;
  --line-height: 1.4;
  --line-height-heading: 1.2;

  --grid-size: 20px;
  --grid-size-half: calc(var(--grid-size) / 2);
  --grid-size-double: calc(var(--grid-size) * 2);

  --content-width: 680px;

  --opacity: 0.8;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-freight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

body {
  background-color: var(--color-off-white);
  color: var(--color-dark-grey);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  margin: 0;
  padding: 0;
  font-family: var(--font-rift);
  line-height: var(--line-height-heading);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5,
h6 {
  font-size: 2.6rem;
}

p {
  margin: var(--grid-size) 0;
  padding: 0;
  font-size: 1.8rem;
  line-height: var(--line-height);
}

a {
  position: relative;
  display: inline-block;
  color: var(--color-red);
  text-decoration: none;
}

p a::before,
nav a::before,
.section-list a::before {
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--color-red);
  content: '';
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s;
}

nav a::before {
  height: 2px;
  bottom: -1px;
  border-radius: 1px;
}

p a:hover::before,
p a:focus::before,
nav a:hover::before,
nav a:focus::before,
.section-list a:hover::before,
.section-list a:focus::before {
  transform: scaleX(1);
}

.red {
  color: var(--color-red);
}

.blue {
  color: var(--color-blue);
}

.tan {
  color: var(--color-tan);
}

.grey {
  color: var(--color-grey);
}

.content-width {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-top: var(--grid-size-double);
  margin-bottom: var(--grid-size-double);
}

.section-heading1 {
  margin: var(--grid-size) 0;
}

.section-heading2 {
  margin: var(--grid-size) 0;
  font-family: var(--font-freight);
  font-size: 3rem;
  font-weight: 600;
}

.section-subheading {
  margin: calc(var(--grid-size) * -1) 0 var(--grid-size);
  font-size: 1.6rem;
  color: var(--color-grey);
}

.section-list {
  margin: var(--grid-size) 0;
  padding: 0 var(--grid-size-double);
  font-size: 1.8rem;
  line-height: var(--line-height);
}

.banner {
  margin: var(--grid-size) calc(var(--grid-size) * -1) var(--grid-size-double);
  border-radius: 20px;
  overflow: hidden;
}

.post-title {
  margin-bottom: 0;
  color: var(--color-dark-grey);
}

.post-title h2 {
  font-size: 4rem;
}

.post-title::before {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--color-red);
  border-radius: 1px;
  content: '';
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s;
}

.post-title:hover::before,
.post-title:focus::before {
  transform: scaleX(1);
}

.post-meta {
  margin-bottom: var(--grid-size);
  font-size: 1.6rem;
  color: var(--color-grey);
}

.post-content {
}

.post-content h1 {
  margin: var(--grid-size) 0;
}

.post-content h2 {
  margin: var(--grid-size) 0;
  font-family: var(--font-freight);
  font-size: 3rem;
  font-weight: 600;
}

.post-content h3 {
  margin: var(--grid-size) 0;
  font-family: var(--font-freight);
  font-size: 2.8rem;
  font-weight: normal;
}

.post-content ul,
.post-content ol {
  margin: var(--grid-size) 0;
  padding: 0 var(--grid-size-double);
  font-size: 1.8rem;
  line-height: var(--line-height);
}

@media only screen and (max-width: 699px) {
  .banner {
    border-radius: 0;
  }
}
