.container {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: var(--grid-size-half) var(--grid-size);
  font-size: 1.2rem;
  text-align: center;
}

.socials {
  margin: 0 0 var(--grid-size);
  padding: 0;
  list-style: none;
}

.social-item {
  margin-right: calc(var(--grid-size));
  display: inline-block;
  vertical-align: top;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  width: 24px;
  height: 24px;
}
