.container {
}

.content {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--grid-size);
}

.nav-container {
  position: relative;
}

.nav-corner {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -1px;
  z-index: 2;
  background: var(--color-dark-off-white);
}

.nav-corner div {
  width: 20px;
  height: 20px;
  background: var(--color-off-white);
  border-top: 1px solid var(--color-tan);
}

.nav-corner:first-child {
  left: -19px;
}

.nav-corner:first-child div {
  border-right: 1px solid var(--color-tan);
  border-top-right-radius: 10px;
}

.nav-corner:last-child {
  right: -19px;
}

.nav-corner:last-child div {
  border-left: 1px solid var(--color-tan);
  border-top-left-radius: 10px;
}

.nav {
  position: relative;
  top: -1px;
  z-index: 1;
  background: var(--color-dark-off-white);
  border: 1px solid var(--color-tan);
  border-top: 1px solid var(--color-dark-off-white);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.nav a {
  margin: 0 var(--grid-size);
  padding: var(--grid-size-half) 0;
}

.nav a:first-child {
  display: none;
}
