.container {
  --pageheader-blobs-index: 1;
  --pageheader-headshot-index: calc(var(--pageheader-blobs-index) + 1);
  --pageheader-tan-index: 1;
  --pageheader-blue-index: calc(var(--pageheader-tan-index) + 1);
  --pageheader-red-index: calc(var(--pageheader-blue-index) + 1);

  height: 80px;
  position: relative;
  background: var(--color-dark-off-white);
  border-bottom: 1px solid var(--color-tan);
}

.blobs {
  width: 140px;
  height: 140px;
  position: absolute;
  top: -20px;
  left: -10px;
  z-index: var(--pageheader-blobs-index);
  pointer-events: none;
}

.blob {
  width: 100%;
  height: 100%;
  position: absolute;
}

.tan-blob {
  top: -20px;
  right: -10px;
  z-index: var(--pageheader-tan-index);
}

.blue-blob {
  left: -20px;
  bottom: 0;
  z-index: var(--pageheader-blue-index);
}

.red-blob {
  bottom: -5px;
  right: -5px;
  z-index: var(--pageheader-red-index);
}

.headshot-container {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: var(--grid-size);
  z-index: var(--pageheader-headshot-index);
  transform: translateY(-50%);
}

.headshot {
  width: 100%;
  height: 100%;
  background: url('../../images/IanHirschfeld_Headshot.jpg') 0 0 no-repeat;
  background-size: cover;
  border-radius: 50%;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}

.content {
  height: 100%;
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.nav {
}

.nav a {
  margin-right: var(--grid-size);
}

.spacer {
  flex: 1 1;
}

.socials {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-right: calc(var(--grid-size) * 1.5);
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: 799px) {
  .social-item {
    margin-right: var(--grid-size);
  }
}

@media only screen and (max-width: 699px) {
  .content {
    margin-left: 140px;
    display: block;
  }

  .nav {
    padding-top: var(--grid-size-half);
    padding-bottom: var(--grid-size-half);
    text-align: right;
  }

  .nav a {
    margin-right: var(--grid-size-half);
  }

  .spacer {
    display: none;
  }

  .socials {
    text-align: right;
  }

  .social-item {
    margin-right: var(--grid-size);
  }
}
