%a#photo{href: '/', title: 'Go back to home'}
  %svg#hex-photo{data: {image: 'images/ianhirschfeld.jpg'}}

#about
  #about-intro-container
    #about-intro
      %p
        I’m a full stack software engineer with a passion for the creative arts and technology. I love working with teams to bring their ideas and products to life.
        %a{href: "mailto:contact@ianhirschfeld.com?subject=Let's%20build%20something%20awesome!"} Let's work together!
  %svg#hex-about

%section#work
  %ul.unstyled
    %li
      %a#mightybell{href: 'https://mightybell.com', title: 'Visit Mightybell', target: '_blank'}
        %svg#hex-mightybell{data: {primary: 'images/mightybell_primary.png', secondary: 'images/mightybell_secondary.jpg'}}
    %li
      %a#hackdesign{href: 'http://hackdesign.org', title: 'Visit Hack Design', target: '_blank'}
        %svg#hex-hackdesign{data: {primary: 'images/hackdesign_primary.png', secondary: 'images/hackdesign_secondary.jpg'}}
    %li
      %a#retinamacapps{href: 'http://retinamacapps.com', title: 'Visit Retina Mac Apps', target: '_blank'}
        %svg#hex-retinamacapps{data: {primary: 'images/retinamacapps_primary.jpg', secondary: 'images/retinamacapps_secondary.jpg'}}
    %li
      %a#studioluz{href: 'http://studioluz.net', title: 'Visit Studio Luz', target: '_blank'}
        %svg#hex-studioluz{data: {primary: 'images/studioluz_primary.png', secondary: 'images/studioluz_secondary.jpg'}}
