%section#about.page-section
  %h2 About Me
  / %p I’m a software engineer with a passion for the creative arts and technology. I love working on ideas and building products that interesect these disciplines.
  / %a.btn{href: '#'} Let’s get started

%section#work.page-section
  %h2 My Recent Work
  %ul.unstyled
    %li
      %svg#hex-hackdesign{data: {primary: 'images/hackdesign_primary.png', secondary: 'images/hackdesign_secondary.jpg'}}
      %h3
        %a{href: '/hackdesign', title: 'Read more about Hack Design'} Hack Design

%section#contact.page-section
  %h2 Contact Me
