.container {
  --blob-transition: 10s linear;

  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(0, 0);
  opacity: var(--opacity);
  transition: var(--blob-transition);
}

.container path {
  transition: var(--blob-transition);
}
